*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header{
    
    width: 100%;
    background-color: #fff;
}

h1{
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

h1:hover{
    color: #421c5e;
    transition: 1s;
}



nav img{
    width: 150px;
    margin: 10px;
}

/*  burger menu til mobil format  */

/* nav baren fejler lidt på Safari, men er velfungerende på Google chrome */

html, body {overflow-x: hidden;
}

nav{
    display: flex;
    padding: 2% 5% 2% 15%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    position: absolute;
    background: #DDC3F0;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}

.nav-links ul{
    display: block;
    text-align: center;
    

}

.nav-links ul li{
    display: inline-block;
    font-size: 20px;
    margin-right: 10%;
    padding: 8px 12px;
    position: relative;
    padding-bottom: 20%
}

.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}



nav .fas{
    display: block;
    color: #000;
    margin: 40px;
    font-size: 22px;
    cursor: pointer;

}

/*  om mig sektion  */

.text-about img{
    width: 45%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    
}

h2{
    padding-bottom: 6%;
    font-size: 22px;
    text-align: center;
}

.text-about p{
    font-size: 13px;
    padding-bottom: 6%;
    display:inline-block;
    text-align: center;
}


/*  CV sektion (png) */


img{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}


footer p{
    text-align: right;
    margin-right: 22px;
    font-size: 10px;
}

footer img{
    display: inline-block;
    justify-content: left;
    width: 50px; 
    padding: 3px;
}


@media screen and (min-width: 1000px) {
    

/* gemmer  burger menuens icon */
  
    nav .fas{
        display: none;
    }
  
  
/*  navbarens links  */
  
  nav{
        display: flex;
         padding: 2% 5% 2% 15%;
         justify-content: space-between;
        align-items: center;
    }
  
  
  .nav-links{
        height: 100vh;
        width: 100%;
        right: -380px;
        text-align: left;
        position: absolute;
        background-color: transparent;
        padding-top: 4%;
  
    }
  
  .nav-links ul li{
        display: inline-block;
        margin-right: -9%;
        margin-left: 10%;
    }
  
  .nav-links ul li a{
        color: #000;
        text-align: left;
        position: relative;
  
    }

/*  om mig sektion  */

    .text-about p{
        display: flex;
        margin-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2vh;
        padding-bottom: 1%;
        font-size: 18px;
    }

    



   /* CV sektion */
  
  img{
        width: 48%;
        display: flex;
        float: left;
    }
  


    .cv{
        padding-top: 5vh;
    }


  

    footer{
        padding-top: 70%;

    }
  
}